# World Happiness and Technological Connectivity

Brent Lee, Maritza Lopez, Justin Foust

Data Boot Camp -- ETL Project -- 12/12/2019

We chose World Happiness and Technological Connectivity as our research project because we wanted to see if there was
any correlation between a country's happiness and their ability to connect to the internet.

## Import Dependencies and Data

In [113]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

import getpass   #Used to enter PostGreSQL username and password so not saved in plaintext

In [147]:
### Import Excel spreadsheet and save data from every worksheet as a Pandas DataFrame object

# Web_Index-Data_2014.xlsx contains several spreadsheets related to information connectivity and
# telecom infrastructure for countries around the world
# https://data.world/adamhelsinger/web-index-data-2014/file/Web_Index-Data_2014.xlsx

xls = pd.ExcelFile('data/Web_Index-Data_2014.xlsx')

wb_a = pd.read_excel(xls, 'WB A')
itu_s = pd.read_excel(xls, 'ITU S')
un_b = pd.read_excel(xls, 'UN B')
wb_d = pd.read_excel(xls, 'WB D')
wb_c = pd.read_excel(xls, 'WB C')
wb_h = pd.read_excel(xls, 'WB H')
rsf_a = pd.read_excel(xls, 'RSF A')
fh_c = pd.read_excel(xls, 'FH C')
fh_a = pd.read_excel(xls, 'FH A')
fh_b = pd.read_excel(xls, 'FH B')
un_c = pd.read_excel(xls, 'UN C')
itu_n = pd.read_excel(xls, 'ITU N (world bank)')
un_d = pd.read_excel(xls, 'UN D')

# The following csv files are World Happiness factors for various years
# https://www.kaggle.com/unsdsn/world-happiness

h2015data = pd.read_csv('data/2015.csv')
h2016data = pd.read_csv('data/2016.csv')
h2017data = pd.read_csv('data/2017.csv')
h2018data = pd.read_csv('data/2018.csv')
h2019data = pd.read_csv('data/2019.csv')


internet_subscription = "data/Fixed broadband Subscriptions.csv"
internet_data = pd.read_csv(internet_subscription)

In [115]:
### Put DataFrame objects into an array for easy reference

spreadsheet = [
    wb_a,
    itu_s,
    un_b,
    wb_d,
    wb_c,
    wb_h,
    rsf_a,
    fh_c,
    fh_a,
    fh_b,
    un_c,
    itu_n,
    un_d
]

## Clean Up Data

In [116]:
### Table information

for table in spreadsheet:
    print(table.info(), end='\n\n---------------------\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Secure Internet Servers per million population    89 non-null object
2007                                              89 non-null float64
2008                                              89 non-null float64
2009                                              89 non-null float64
2010                                              89 non-null float64
2011                                              89 non-null float64
2012                                              89 non-null float64
2013                                              89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Mobile broadband monthly subscription per GDPC    89 non-null object
2007                                              89 non-null object
2008                                              89 non-null object
2009                                              89 non-null object
2010                                              89 non-null object
2011                                              89 non-null object
2012                                              89 non-null object
2013                                              89 non-null object
dtypes: object(8)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Literacy rates    89 non-null object
2007              65 non-null float64
2008              65 non-null float64
2009              65 non-null float64
2010              65 non-null float64
2011              65 non-null float64
2012              65 non-null float64
2013              65 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Secondary enrolment rates (gross)    89 non-null object
2007                                 79 non-null float64
2008                                 80 non-null float64
2009                                 80 non-null float64
2010                                 80 non-null float64
2011                                 80 non-null float64
2012                                 80 non-null float64
2013                                 80 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
tertiary enrolment rates (gross) female/male    89 non-null object
2007                                            78 non-null float64
2008                                            78 non-null float64
2009                                            78 non-null float64
2010                                            78 non-null float64
2011                                            78 non-null float64
2012                                            78 non-null float64
2013                                            78 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
WB H school life expectancy female/male    89 non-null object
2007                                       89 non-null object
2008                                       89 non-null object
2009                                       89 non-null object
2010                                       89 non-null object
2011                                       89 non-null object
2012                                       89 non-null object
2013                                       89 non-null object
dtypes: object(8)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Press Freedom Index    89 non-null object
2007                   89 non-null float64
2008                   89 non-null float64
2009                   89 non-null float64
2010                   89 non-null float64
2011                   89 non-null float64
2012                   89 non-null float64
2013                   89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Freedom of the press    89 non-null object
2007                                    89 non-null float64
2008                                    89 non-null float64
2009                                    89 non-null float64
2010                                    89 non-null float64
2011                                    89 non-null float64
2012                                    89 non-null float64
2013                                    89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Political Rights    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Civil Rights    89 non-null object
2007                            89 non-null float64
2008                            89 non-null float64
2009                            89 non-null float64
2010                            89 non-null float64
2011                            89 non-null float64
2012                            89 non-null float64
2013                            89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Government online services index    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Internet users per 100    89 non-null object
2007                      89 non-null float64
2008                      89 non-null float64
2009                      89 non-null float64
2010                      89 non-null float64
2011                      89 non-null float64
2012                      89 non-null float64
2013                      89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
E-participation index    89 non-null object
2007                     89 non-null float64
2008                     89 non-null float64
2009                     89 non-null float64
2010                     89 non-null float64
2011                     89 non-null float64
2012                     89 non-null float64
2013                     89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

In [117]:
### First few rows of each table

for table in spreadsheet:
    print(table.head(10), end='\n\n---------------------\n\n')

  Secure Internet Servers per million population        2007        2008  \
0                                      Argentina   15.636379   18.348585
1                                      Australia  814.832242  999.049376
2                                        Austria  400.082498  480.992634
3                                        Bahrain   40.683758   53.761610
4                                     Bangladesh    0.040968    0.101372
5                                        Belgium  192.081463  250.047316
6                                          Benin    0.114844    0.222884
7                                       Botswana    1.566427    1.551415
8                                         Brazil   20.300323   23.935475
9                                   Burkina Faso    0.140498    0.136429

          2009         2010         2011         2012         2013
0    19.838275    26.105765    33.637183    41.789448    42.874812
1  1222.449140  1784.556868  2027.797672  1721.403456  1252.264287
2   553.717600   856.042435   994.743515  1139.028500  1079.328650
3    62.943806    98.281041   120.671677   135.829665   141.873678
4     0.193976     0.311000     0.628016     0.730468     0.766308
5   310.100697   487.991508   597.407036   674.409965   737.462995
6     0.108216     0.105155     0.715761     0.696469     1.065533
7     3.586589     8.632329     9.060246    11.477561    10.390155
8    25.975379    40.679236    54.119343    54.284789    57.446044
9     0.198742     0.257396     0.625183     0.607528     0.826698

---------------------

  Mobile broadband monthly subscription per GDPC        2007        2008  \
0                                      Argentina   0.0575246   0.0575246
1                                      Australia   0.0115663   0.0101911
2                                        Austria  0.00742588  0.00674503
3                                        Bahrain   0.0161784   0.0153241
4                                     Bangladesh    0.312941       0.285
5                                        Belgium   0.0190251   0.0174502
6                                          Benin          ..          ..
7                                       Botswana    0.477438    0.469912
8                                         Brazil    0.552787    0.450802
9                                   Burkina Faso          ..          ..

         2009        2010        2011        2012        2013
0   0.0575246   0.0575246   0.0575246   0.0516306   0.0516306
1  0.00981372  0.00928833  0.00861759  0.00413447  0.00377289
2  0.00677689  0.00669069  0.00656406  0.00140117    0.001383
3   0.0170422   0.0169697   0.0176842  0.00404908  0.00404908
4    0.257419    0.231304    0.207273    0.156145       0.144
5   0.0176376   0.0171952    0.017214  0.00744477   0.0073789
6          ..          ..          ..          ..          ..
7    0.509146    0.459452    0.386628   0.0883137   0.0873997
8    0.414251    0.354202     0.31514   0.0369072   0.0367494
9          ..          ..          ..          ..          ..

---------------------

  Literacy rates       2007       2008       2009       2010       2011  \
0      Argentina  97.916092  97.916092  97.916092  97.916092  97.916092
1      Australia        NaN        NaN        NaN        NaN        NaN
2        Austria        NaN        NaN        NaN        NaN        NaN
3        Bahrain  94.556793  94.556793  94.556793  94.556793  94.556793
4     Bangladesh  58.787720  58.787720  58.787720  58.787720  58.787720
5        Belgium        NaN        NaN        NaN        NaN        NaN
6          Benin        NaN        NaN        NaN        NaN        NaN
7       Botswana  86.728813  86.728813  86.728813  86.728813  86.728813
8         Brazil  90.009369  90.036621  90.298210  90.379181  91.411247
9   Burkina Faso  28.729214  28.729214  28.729214  28.729214  28.729214

        2012       2013
0  97.916092  97.916092
1        NaN        NaN
2        NaN        NaN
3  94.556793  94.556793
4  58.787720  58.787720
5        NaN        NaN
6        NaN        NaN
7  86.728813  86.728813
8  91.333740  91.333740
9  28.729214  28.729214

---------------------

  Secondary enrolment rates (gross)       2007       2008       2009  \
0                         Argentina   84.71264   85.88642   88.57930
1                         Australia  125.38581  126.74231  128.78038
2                           Austria   99.46533   99.07034   99.30265
3                           Bahrain        NaN   92.03623   96.43667
4                        Bangladesh   46.37140   44.46002   48.17374
5                           Belgium  107.55540  105.77078  104.83714
6                             Benin   47.68150   47.68150   47.68150
7                          Botswana   79.74525   81.70265   81.70265
8                            Brazil        NaN        NaN        NaN
9                      Burkina Faso   16.16823   18.91787   20.29621

        2010       2011       2012       2013
0   90.22608   91.93817   91.93817   91.93817
1  130.84425  133.04507  135.53543  135.53543
2   98.54810   97.96985   97.69036   97.69036
3   96.43667  103.65631   95.51475   95.51475
4   49.48382   50.79390   50.79390   50.79390
5  105.07527  106.46234  107.26161  107.26161
6   47.68150   47.68150   47.68150   47.68150
7   81.70265   81.70265   81.70265   81.70265
8        NaN        NaN        NaN        NaN
9   21.89451   23.81748   25.92291   25.92291

---------------------

  tertiary enrolment rates (gross) female/male     2007     2008     2009  \
0                                    Argentina  152.337  152.520  151.235
1                                    Australia  129.143  131.370  134.610
2                                      Austria  119.927  118.156  117.882
3                                      Bahrain  157.467  157.467  157.467
4                                   Bangladesh   55.138   55.391   59.717
5                                      Belgium  125.031  125.110  123.637
6                                        Benin   38.724   38.724   38.724
7                                     Botswana      NaN      NaN      NaN
8                                       Brazil      NaN      NaN      NaN
9                                 Burkina Faso   45.608   49.475   48.352

       2010     2011     2012     2013
0  150.9420  156.225  156.225  156.225
1  136.5470  137.598  138.061  138.061
2  117.1620  118.648  119.556  119.556
3  157.4670  187.744  198.164  198.164
4   64.3755   69.034   69.034   69.034
5  125.4590  126.148  128.087  128.087
6   32.8435   26.963   26.963   26.963
7       NaN      NaN      NaN      NaN
8       NaN      NaN      NaN      NaN
9   47.9030   49.631   49.558   49.558

---------------------

  WB H school life expectancy female/male     2007     2008     2009     2010  \
0                               Argentina  1.04453  1.04977  1.04318  1.03721
1                               Australia  0.98747  0.98565   0.9782  0.97436
2                                 Austria  0.97015  0.96758   0.9685  0.97277
3                                 Bahrain       ..       ..       ..       ..
4                              Bangladesh  1.06881  1.09024  1.06345  1.08986
5                                 Belgium  0.97879  0.98202  0.98269  0.98185
6                                   Benin  0.78264  0.78264  0.78264  0.78264
7                                Botswana  0.99953  1.00404  1.00404  1.00404
8                                  Brazil       ..       ..       ..       ..
9                            Burkina Faso    0.811  0.83202  0.84761  0.86813

      2011     2012     2013
0  1.03808  1.03808  1.03808
1   0.9732  0.97221  0.97221
2  0.97532  0.97694  0.97694
3       ..       ..       ..
4  1.09623  1.09623  1.09623
5  0.98041  0.98184  0.98184
6  0.78264  0.78264  0.78264
7  1.00404  1.00404  1.00404
8       ..       ..       ..
9  0.88397  0.90573  0.90573

---------------------

  Press Freedom Index   2007   2008   2009    2010   2011   2012   2013
0           Argentina  14.08  11.33  16.35   14.00  25.67  25.67  25.27
1           Australia   6.25   3.13   5.38    4.00  15.24  15.24  16.91
2             Austria   3.50   3.00   0.50   -8.00   9.40   9.40  10.01
3             Bahrain  21.17  36.50  51.38  125.00  62.75  62.75  58.26
4          Bangladesh  42.70  37.33  42.50   57.00  42.01  42.01  42.58
5             Belgium   3.00   2.50   4.00   -2.00  12.94  12.94  12.80
6               Benin  15.00  16.00  19.00   31.00  28.33  28.33  28.83
7            Botswana  14.00  15.50  17.50   12.00  22.91  22.91  22.91
8              Brazil  18.00  15.88  16.60   35.33  32.75  32.75  34.03
9        Burkina Faso  13.00  15.00  15.00   23.33  23.70  23.70  24.45

---------------------

  Freedom House - Freedom of the press  2007  2008  2009  2010  2011  2012  \
0                            Argentina  47.0  49.0  49.0  51.0  50.0  52.0
1                            Australia  21.0  22.0  22.0  21.0  21.0  21.0
2                              Austria  21.0  21.0  21.0  21.0  21.0  21.0
3                              Bahrain  71.0  71.0  71.0  72.0  84.0  86.0
4                           Bangladesh  68.0  63.0  56.0  54.0  52.0  53.0
5                              Belgium  11.0  12.0  12.0  12.0  11.0  11.0
6                                Benin  31.0  31.0  33.0  33.0  34.0  34.0
7                             Botswana  36.0  37.0  39.0  40.0  40.0  41.0
8                               Brazil  42.0  42.0  43.0  44.0  44.0  46.0
9                         Burkina Faso  41.0  41.0  41.0  41.0  42.0  42.0

   2013
0  51.0
1  22.0
2  21.0
3  87.0
4  54.0
5  11.0
6  36.0
7  41.0
8  45.0
9  44.0

---------------------

  Freedom House - Political Rights  2007  2008  2009  2010  2011  2012  2013
0                        Argentina   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1                        Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                          Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                          Bahrain   5.0   5.0   6.0   6.0   6.0   6.0   6.0
4                       Bangladesh   5.0   4.0   3.0   3.0   3.0   3.0   3.0
5                          Belgium   1.0   1.0   1.0   1.0   1.0   1.0   1.0
6                            Benin   2.0   2.0   2.0   2.0   2.0   2.0   2.0
7                         Botswana   2.0   2.0   3.0   3.0   3.0   3.0   3.0
8                           Brazil   2.0   2.0   2.0   2.0   2.0   2.0   2.0
9                     Burkina Faso   5.0   5.0   5.0   5.0   5.0   5.0   5.0

---------------------

  Freedom House - Civil Rights  2007  2008  2009  2010  2011  2012  2013
0                    Argentina   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1                    Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                      Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                      Bahrain   5.0   5.0   5.0   5.0   6.0   6.0   6.0
4                   Bangladesh   4.0   4.0   4.0   4.0   4.0   4.0   4.0
5                      Belgium   1.0   1.0   1.0   1.0   1.0   1.0   1.0
6                        Benin   2.0   2.0   2.0   2.0   2.0   2.0   2.0
7                     Botswana   2.0   2.0   2.0   2.0   2.0   2.0   2.0
8                       Brazil   2.0   2.0   2.0   2.0   2.0   2.0   2.0
9                 Burkina Faso   3.0   3.0   3.0   3.0   3.0   3.0   3.0

---------------------

  Government online services index     2007      2008     2009      2010  \
0                        Argentina  0.55852  0.485605  0.41269  0.471050
1                        Australia  0.75250  0.758785  0.76507  0.813905
2                          Austria  0.66555  0.570870  0.47619  0.610640
3                          Bahrain  0.52006  0.625105  0.73015  0.796445
4                       Bangladesh  0.35117  0.353360  0.35555  0.399995
5                          Belgium  0.53846  0.581925  0.62539  0.636220
6                            Benin  0.12374  0.120600  0.11746  0.156765
7                         Botswana  0.21739  0.208695  0.20000  0.279735
8                           Brazil  0.60200  0.485125  0.36825  0.520725
9                     Burkina Faso  0.19397  0.174760  0.15555  0.224830

      2011      2012     2013
0  0.52941  0.540295  0.55118
1  0.86274  0.895935  0.92913
2  0.74509  0.746560  0.74803
3  0.86274  0.899870  0.93700
4  0.44444  0.395445  0.34645
5  0.64705  0.662105  0.67716
6  0.19607  0.153150  0.11023
7  0.35947  0.333275  0.30708
8  0.67320  0.635810  0.59842
9  0.29411  0.296660  0.29921

---------------------

  Internet users per 100       2007       2008   2009   2010       2011  \
0              Argentina  25.946633  28.112623  34.00  45.00  51.000000
1              Australia  69.450000  71.670000  74.25  76.00  79.487698
2                Austria  69.370000  72.870000  73.45  75.17  78.739993
3                Bahrain  32.910000  51.950000  53.00  55.00  76.999967
4             Bangladesh   1.800000   2.500000   3.10   3.70   5.000000
5                Belgium  64.440000  66.000000  70.00  75.00  81.609996
6                  Benin   1.790000   1.850000   2.24   3.13   4.148323
7               Botswana   5.280000   6.250000   6.15   6.00   8.000000
8                 Brazil  30.880000  33.830000  39.22  40.65  45.690000
9           Burkina Faso   0.750000   0.920000   1.13   2.40   3.000000

        2012     2013
0  55.800000  59.9000
1  79.000000  83.0000
2  80.029994  80.6188
3  88.000000  90.0000
4   5.750000   6.5000
5  80.719991  82.1702
6   4.500000   4.9000
7  11.500000  15.0000
8  48.560000  51.6000
9   3.725035   4.4000

---------------------

  E-participation index     2007      2008     2009      2010    2011  \
0             Argentina  0.45454  0.327270  0.20000  0.244750  0.2895
1             Australia  0.88636  0.900320  0.91428  0.838740  0.7632
2               Austria  0.47727  0.488635  0.50000  0.434200  0.3684
3               Bahrain  0.34090  0.506160  0.67142  0.664660  0.6579
4            Bangladesh  0.13636  0.118180  0.10000  0.089450  0.0789
5               Belgium  0.40909  0.497400  0.58571  0.358655  0.1316
6                 Benin  0.11363  0.092525  0.07142  0.075160  0.0789
7              Botswana  0.29545  0.197725  0.10000  0.063150  0.0263
8                Brazil  0.45454  0.370125  0.28571  0.392855  0.5000
9          Burkina Faso  0.20454  0.130840  0.05714  0.107520  0.1579

       2012     2013
0  0.419255  0.54901
1  0.852185  0.94117
2  0.497925  0.62745
3  0.740710  0.82352
4  0.235525  0.39215
5  0.379525  0.62745
6  0.127685  0.17647
7  0.170010  0.31372
8  0.602940  0.70588
9  0.147575  0.13725

---------------------

In [118]:
### Last few rows of each table

for table in spreadsheet:
    print(table.tail(10).iloc[:,0], end='\n\n---------------------\n\n')

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Secure Internet Servers per million population, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Mobile broadband monthly subscription per GDPC, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Literacy rates, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Secondary enrolment rates (gross), dtype: object

---------------------

82       Viet Nam
83    Yemen, Rep.
84         Zambia
85       Zimbabwe
86            NaN
87        Average
88            NaN
89             SD
90            NaN
91          count
Name: tertiary enrolment rates (gross) female/male, dtype: object

---------------------

82       Viet Nam
83    Yemen, Rep.
84         Zambia
85       Zimbabwe
86            NaN
87        Average
88            NaN
89             SD
90            NaN
91          count
Name: WB H school life expectancy female/male, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Press Freedom Index, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Freedom House - Freedom of the press, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Freedom House - Political Rights, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Freedom House - Civil Rights, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Government online services index, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: Internet users per 100, dtype: object

---------------------

82        Viet Nam
83           Yemen
84          Zambia
85        Zimbabwe
86             NaN
87            MEAN
88             NaN
89              SD
90             NaN
91    OBSERVATIONS
Name: E-participation index, dtype: object

---------------------

In [119]:
### Cleaning all tables to make as uniform as possible

web_index_tables = []   # Array to hold cleaned data objects

for table in spreadsheet:
        # Set country names as index for each DataFrame
    table = table.set_index(table.columns[0])
    
        # Drop last six rows of each table, which do not contain raw data
    table = table.drop(table.tail(6).index)
    
        # Find all string values and replace with NaN
        # This is important since the database requires the same data type for each column
    table = table.replace(regex=r'.+', value=np.nan)
    
        # Save table to list
    web_index_tables.append(table)

web_index_tables

[                                                      2007        2008  \
 Secure Internet Servers per million population
 Argentina                                        15.636379   18.348585
 Australia                                       814.832242  999.049376
 Austria                                         400.082498  480.992634
 Bahrain                                          40.683758   53.761610
 Bangladesh                                        0.040968    0.101372
 ...                                                    ...         ...
 Venezuela (Bolivarian Republic Of)                6.183121    6.721120
 Viet Nam                                          0.605549    1.127789
 Yemen                                             0.094419    0.184301
 Zambia                                            0.082579    0.321117
 Zimbabwe                                          0.313968    0.547558

                                                        2009         2010  \
 Secure Internet Servers per million population
 Argentina                                         19.838275    26.105765
 Australia                                       1222.449140  1784.556868
 Austria                                          553.717600   856.042435
 Bahrain                                           62.943806    98.281041
 Bangladesh                                         0.193976     0.311000
 ...                                                     ...          ...
 Venezuela (Bolivarian Republic Of)                 7.382000     7.368313
 Viet Nam                                           1.883173     3.128864
 Yemen                                              0.224925     0.307516
 Zambia                                             0.701753     1.210564
 Zimbabwe                                           0.620688     0.994113

                                                        2011         2012  \
 Secure Internet Servers per million population
 Argentina                                         33.637183    41.789448
 Australia                                       2027.797672  1721.403456
 Austria                                          994.743515  1139.028500
 Bahrain                                          120.671677   135.829665
 Bangladesh                                         0.628016     0.730468
 ...                                                     ...          ...
 Venezuela (Bolivarian Republic Of)                 7.999831    10.682768
 Viet Nam                                           4.678962     6.702496
 Yemen                                              0.429107     0.461169
 Zambia                                             1.540290     2.344566
 Zimbabwe                                           1.272575     2.987398

                                                        2013
 Secure Internet Servers per million population
 Argentina                                         42.874812
 Australia                                       1252.264287
 Austria                                         1079.328650
 Bahrain                                          141.873678
 Bangladesh                                         0.766308
 ...                                                     ...
 Venezuela (Bolivarian Republic Of)                11.083628
 Viet Nam                                           8.159726
 Yemen                                              0.655539
 Zambia                                             2.751289
 Zimbabwe                                           3.180291

 [86 rows x 7 columns],
                                                     2007      2008      2009  \
 Mobile broadband monthly subscription per GDPC
 Argentina                                       0.057525  0.057525  0.057525
 Australia                                       0.011566  0.010191  0.009814
 Austria                                         0.007426  0.006745  0.006777
 Bahrain                                         0.016178  0.015324  0.017042
 Bangladesh                                      0.312941  0.285000  0.257419
 ...                                                  ...       ...       ...
 Venezuela (Bolivarian Republic Of)              0.056809  0.046284  0.042130
 Viet Nam                                        0.571765  0.486000  0.433929
 Yemen                                           0.292500  0.246316  0.217674
 Zambia                                          0.436800  0.337732  0.309057
 Zimbabwe                                        2.700000  3.375000  2.571429

                                                     2010      2011      2012  \
 Mobile broadband monthly subscription per GDPC
 Argentina                                       0.057525  0.057525  0.051631
 Australia                                       0.009288  0.008618  0.004134
 Austria                                         0.006691  0.006564  0.001401
 Bahrain                                         0.016970  0.017684  0.004049
 Bangladesh                                      0.231304  0.207273  0.156145
 ...                                                  ...       ...       ...
 Venezuela (Bolivarian Republic Of)              0.037083  0.036327  0.013291
 Viet Nam                                        0.382677  0.349640  0.016258
 Yemen                                           0.216000  0.260000  0.230164
 Zambia                                          0.303333  0.277627  0.183830
 Zimbabwe                                        2.000000  1.479452  0.810000

                                                     2013
 Mobile broadband monthly subscription per GDPC
 Argentina                                       0.051631
 Australia                                       0.003773
 Austria                                         0.001383
 Bahrain                                         0.004049
 Bangladesh                                      0.144000
 ...                                                  ...
 Venezuela (Bolivarian Republic Of)              0.013195
 Viet Nam                                        0.014566
 Yemen                                           0.211128
 Zambia                                          0.175135
 Zimbabwe                                        0.790244

 [86 rows x 7 columns],
                                          2007       2008       2009  \
 Literacy rates
 Argentina                           97.916092  97.916092  97.916092
 Australia                                 NaN        NaN        NaN
 Austria                                   NaN        NaN        NaN
 Bahrain                             94.556793  94.556793  94.556793
 Bangladesh                          58.787720  58.787720  58.787720
 ...                                       ...        ...        ...
 Venezuela (Bolivarian Republic Of)  95.154640  95.333317  95.511993
 Viet Nam                            93.520454  93.520454  93.520454
 Yemen                               66.373772  66.373772  66.373772
 Zambia                              61.428288  61.428288  61.428288
 Zimbabwe                            83.582718  83.582718  83.582718

                                          2010       2011       2012       2013
 Literacy rates
 Argentina                           97.916092  97.916092  97.916092  97.916092
 Australia                                 NaN        NaN        NaN        NaN
 Austria                                   NaN        NaN        NaN        NaN
 Bahrain                             94.556793  94.556793  94.556793  94.556793
 Bangladesh                          58.787720  58.787720  58.787720  58.787720
 ...                                       ...        ...        ...        ...
 Venezuela (Bolivarian Republic Of)  95.511993  95.511993  95.511993  95.511993
 Viet Nam                            93.520454  93.520454  93.520454  93.520454
 Yemen                               66.373772  66.373772  66.373772  66.373772
 Zambia                              61.428288  61.428288  61.428288  61.428288
 Zimbabwe                            83.582718  83.582718  83.582718  83.582718

 [86 rows x 7 columns],
                                          2007       2008       2009  \
 Secondary enrolment rates (gross)
 Argentina                            84.71264   85.88642   88.57930
 Australia                           125.38581  126.74231  128.78038
 Austria                              99.46533   99.07034   99.30265
 Bahrain                                   NaN   92.03623   96.43667
 Bangladesh                           46.37140   44.46002   48.17374
 ...                                       ...        ...        ...
 Venezuela (Bolivarian Republic Of)   79.60593   81.40130   82.34269
 Viet Nam                                  NaN        NaN        NaN
 Yemen                                43.40144   43.40144   43.85283
 Zambia                                    NaN        NaN        NaN
 Zimbabwe                                  NaN        NaN        NaN

                                          2010       2011       2012       2013
 Secondary enrolment rates (gross)
 Argentina                            90.22608   91.93817   91.93817   91.93817
 Australia                           130.84425  133.04507  135.53543  135.53543
 Austria                              98.54810   97.96985   97.69036   97.69036
 Bahrain                              96.43667  103.65631   95.51475   95.51475
 Bangladesh                           49.48382   50.79390   50.79390   50.79390
 ...                                       ...        ...        ...        ...
 Venezuela (Bolivarian Republic Of)   82.34269   82.34269   82.34269   82.34269
 Viet Nam                                  NaN        NaN        NaN        NaN
 Yemen                                44.30422   46.23057   46.23057   46.23057
 Zambia                                    NaN        NaN        NaN        NaN
 Zimbabwe                                  NaN        NaN        NaN        NaN

 [86 rows x 7 columns],
                                                  2007     2008      2009  \
 tertiary enrolment rates (gross) female/male
 Argentina                                     152.337  152.520  151.2350
 Australia                                     129.143  131.370  134.6100
 Austria                                       119.927  118.156  117.8820
 Bahrain                                       157.467  157.467  157.4670
 Bangladesh                                     55.138   55.391   59.7170
 ...                                               ...      ...       ...
 Venezuela (Bolivarian Republic Of)            169.419  169.419  169.4190
 Viet Nam                                      100.124   98.138   99.2780
 Yemen, Rep.                                    41.330   43.141   43.4455
 Zambia                                            NaN      NaN       NaN
 Zimbabwe                                       79.858   79.858   79.8580

                                                   2010     2011     2012  \
 tertiary enrolment rates (gross) female/male
 Argentina                                     150.9420  156.225  156.225
 Australia                                     136.5470  137.598  138.061
 Austria                                       117.1620  118.648  119.556
 Bahrain                                       157.4670  187.744  198.164
 Bangladesh                                     64.3755   69.034   69.034
 ...                                                ...      ...      ...
 Venezuela (Bolivarian Republic Of)            169.4190  169.419  169.419
 Viet Nam                                      100.3930  101.619  101.619
 Yemen, Rep.                                    43.7500   44.093   44.093
 Zambia                                             NaN      NaN      NaN
 Zimbabwe                                       79.8580   76.247   77.545

                                                  2013
 tertiary enrolment rates (gross) female/male
 Argentina                                     156.225
 Australia                                     138.061
 Austria                                       119.556
 Bahrain                                       198.164
 Bangladesh                                     69.034
 ...                                               ...
 Venezuela (Bolivarian Republic Of)            169.419
 Viet Nam                                      101.619
 Yemen, Rep.                                    44.093
 Zambia                                            NaN
 Zimbabwe                                       77.545

 [86 rows x 7 columns],
                                             2007     2008     2009     2010  \
 WB H school life expectancy female/male
 Argentina                                1.04453  1.04977  1.04318  1.03721
 Australia                                0.98747  0.98565  0.97820  0.97436
 Austria                                  0.97015  0.96758  0.96850  0.97277
 Bahrain                                      NaN      NaN      NaN      NaN
 Bangladesh                               1.06881  1.09024  1.06345  1.08986
 ...                                          ...      ...      ...      ...
 Venezuela (Bolivarian Republic Of)       1.02564  1.02170  1.01871  1.01876
 Viet Nam                                     NaN      NaN      NaN      NaN
 Yemen, Rep.                              0.71705  0.71705  0.73212  0.74719
 Zambia                                       NaN      NaN      NaN      NaN
 Zimbabwe                                     NaN      NaN      NaN      NaN

                                             2011     2012     2013
 WB H school life expectancy female/male
 Argentina                                1.03808  1.03808  1.03808
 Australia                                0.97320  0.97221  0.97221
 Austria                                  0.97532  0.97694  0.97694
 Bahrain                                      NaN      NaN      NaN
 Bangladesh                               1.09623  1.09623  1.09623
 ...                                          ...      ...      ...
 Venezuela (Bolivarian Republic Of)       1.01971  1.02426  1.02426
 Viet Nam                                     NaN      NaN      NaN
 Yemen, Rep.                              0.75129  0.76642  0.76642
 Zambia                                       NaN      NaN      NaN
 Zimbabwe                                     NaN      NaN      NaN

 [86 rows x 7 columns],
                                      2007   2008   2009   2010   2011   2012  \
 Press Freedom Index
 Argentina                           14.08  11.33  16.35   14.0  25.67  25.67
 Australia                            6.25   3.13   5.38    4.0  15.24  15.24
 Austria                              3.50   3.00   0.50   -8.0   9.40   9.40
 Bahrain                             21.17  36.50  51.38  125.0  62.75  62.75
 Bangladesh                          42.70  37.33  42.50   57.0  42.01  42.01
 ...                                   ...    ...    ...    ...    ...    ...
 Venezuela (Bolivarian Republic Of)  27.33  39.50  47.33   55.0  34.44  34.44
 Viet Nam                            86.17  81.67  75.75  114.0  71.78  71.78
 Yemen                               59.00  83.38  82.13  101.0  69.22  69.22
 Zambia                              15.50  26.75  22.00   30.0  27.93  27.93
 Zimbabwe                            54.00  46.50  39.50   55.0  38.12  38.12

                                      2013
 Press Freedom Index
 Argentina                           25.27
 Australia                           16.91
 Austria                             10.01
 Bahrain                             58.26
 Bangladesh                          42.58
 ...                                   ...
 Venezuela (Bolivarian Republic Of)  35.37
 Viet Nam                            72.36
 Yemen                               67.26
 Zambia                              30.89
 Zimbabwe                            39.19

 [86 rows x 7 columns],
                                       2007  2008  2009  2010  2011  2012  2013
 Freedom House - Freedom of the press
 Argentina                             47.0  49.0  49.0  51.0  50.0  52.0  51.0
 Australia                             21.0  22.0  22.0  21.0  21.0  21.0  22.0
 Austria                               21.0  21.0  21.0  21.0  21.0  21.0  21.0
 Bahrain                               71.0  71.0  71.0  72.0  84.0  86.0  87.0
 Bangladesh                            68.0  63.0  56.0  54.0  52.0  53.0  54.0
 ...                                    ...   ...   ...   ...   ...   ...   ...
 Venezuela (Bolivarian Republic Of)    74.0  73.0  75.0  76.0  76.0  76.0  78.0
 Viet Nam                              82.0  83.0  82.0  83.0  84.0  84.0  84.0
 Yemen                                 78.0  79.0  80.0  83.0  83.0  79.0  76.0
 Zambia                                64.0  65.0  64.0  61.0  60.0  60.0  61.0
 Zimbabwe                              89.0  88.0  84.0  81.0  80.0  77.0  73.0

 [86 rows x 7 columns],
                                     2007  2008  2009  2010  2011  2012  2013
 Freedom House - Political Rights
 Argentina                            2.0   2.0   2.0   2.0   2.0   2.0   2.0
 Australia                            1.0   1.0   1.0   1.0   1.0   1.0   1.0
 Austria                              1.0   1.0   1.0   1.0   1.0   1.0   1.0
 Bahrain                              5.0   5.0   6.0   6.0   6.0   6.0   6.0
 Bangladesh                           5.0   4.0   3.0   3.0   3.0   3.0   3.0
 ...                                  ...   ...   ...   ...   ...   ...   ...
 Venezuela (Bolivarian Republic Of)   4.0   4.0   5.0   5.0   5.0   5.0   5.0
 Viet Nam                             7.0   7.0   7.0   7.0   7.0   7.0   7.0
 Yemen                                5.0   5.0   6.0   6.0   6.0   6.0   6.0
 Zambia                               3.0   3.0   3.0   3.0   3.0   3.0   3.0
 Zimbabwe                             7.0   7.0   6.0   6.0   6.0   6.0   5.0

 [86 rows x 7 columns],
                                     2007  2008  2009  2010  2011  2012  2013
 Freedom House - Civil Rights
 Argentina                            2.0   2.0   2.0   2.0   2.0   2.0   2.0
 Australia                            1.0   1.0   1.0   1.0   1.0   1.0   1.0
 Austria                              1.0   1.0   1.0   1.0   1.0   1.0   1.0
 Bahrain                              5.0   5.0   5.0   5.0   6.0   6.0   6.0
 Bangladesh                           4.0   4.0   4.0   4.0   4.0   4.0   4.0
 ...                                  ...   ...   ...   ...   ...   ...   ...
 Venezuela (Bolivarian Republic Of)   4.0   4.0   4.0   5.0   5.0   5.0   5.0
 Viet Nam                             5.0   5.0   5.0   5.0   5.0   5.0   5.0
 Yemen                                5.0   5.0   5.0   5.0   6.0   6.0   6.0
 Zambia                               4.0   3.0   4.0   4.0   4.0   4.0   4.0
 Zimbabwe                             6.0   6.0   6.0   6.0   6.0   6.0   6.0

 [86 rows x 7 columns],
                                        2007      2008     2009      2010  \
 Government online services index
 Argentina                           0.55852  0.485605  0.41269  0.471050
 Australia                           0.75250  0.758785  0.76507  0.813905
 Austria                             0.66555  0.570870  0.47619  0.610640
 Bahrain                             0.52006  0.625105  0.73015  0.796445
 Bangladesh                          0.35117  0.353360  0.35555  0.399995
 ...                                     ...       ...      ...       ...
 Venezuela (Bolivarian Republic Of)  0.46822  0.386490  0.30476  0.394210
 Viet Nam                            0.44481  0.374785  0.30476  0.364795
 Yemen                               0.07357  0.060590  0.04761  0.112040
 Zambia                              0.00000  0.052380  0.10476  0.209240
 Zimbabwe                            0.08695  0.106965  0.12698  0.213815


In [120]:
happiness_tables = []

In [121]:
h2015data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
Country                          158 non-null object
Region                           158 non-null object
Happiness Rank                   158 non-null int64
Happiness Score                  158 non-null float64
Standard Error                   158 non-null float64
Economy (GDP per Capita)         158 non-null float64
Family                           158 non-null float64
Health (Life Expectancy)         158 non-null float64
Freedom                          158 non-null float64
Trust (Government Corruption)    158 non-null float64
Generosity                       158 non-null float64
Dystopia Residual                158 non-null float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [123]:
h2015data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [124]:
n2015data=h2015data.iloc[:,[2,0,3,5,6,7,8,10,9]]
n2015data=n2015data.rename_axis("happiness_index_2015")
happiness_tables.append(n2015data)

n2015data

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
happiness_index_2015,,,,,,,,,
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957
...,...,...,...,...,...,...,...,...,...
153,154,Rwanda,3.465,0.22208,0.77370,0.42864,0.59201,0.22628,0.55191
154,155,Benin,3.340,0.28665,0.35386,0.31910,0.48450,0.18260,0.08010
155,156,Syria,3.006,0.66320,0.47489,0.72193,0.15684,0.47179,0.18906
156,157,Burundi,2.905,0.01530,0.41587,0.22396,0.11850,0.19727,0.10062
157,158,Togo,2.839,0.20868,0.13995,0.28443,0.36453,0.16681,0.10731

In [125]:
h2016data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
Country                          157 non-null object
Region                           157 non-null object
Happiness Rank                   157 non-null int64
Happiness Score                  157 non-null float64
Lower Confidence Interval        157 non-null float64
Upper Confidence Interval        157 non-null float64
Economy (GDP per Capita)         157 non-null float64
Family                           157 non-null float64
Health (Life Expectancy)         157 non-null float64
Freedom                          157 non-null float64
Trust (Government Corruption)    157 non-null float64
Generosity                       157 non-null float64
Dystopia Residual                157 non-null float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [126]:
n2016data=h2016data.iloc[:,[2,0,3,6,7,8,9,11,10]]
n2016data=n2016data.rename_axis("happiness_index_2016")
happiness_tables.append(n2016data)

n2016data

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
happiness_index_2016,,,,,,,,,
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203
2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975
3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776
4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004
...,...,...,...,...,...,...,...,...,...
152,153,Benin,3.484,0.39499,0.10419,0.21028,0.39747,0.20180,0.06681
153,154,Afghanistan,3.360,0.38227,0.11037,0.17344,0.16430,0.31268,0.07112
154,155,Togo,3.303,0.28123,0.00000,0.24811,0.34678,0.17517,0.11587
155,156,Syria,3.069,0.74719,0.14866,0.62994,0.06912,0.48397,0.17233
156,157,Burundi,2.905,0.06831,0.23442,0.15747,0.04320,0.20290,0.09419

In [127]:
h2017data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
Country                          155 non-null object
Happiness.Rank                   155 non-null int64
Happiness.Score                  155 non-null float64
Whisker.high                     155 non-null float64
Whisker.low                      155 non-null float64
Economy..GDP.per.Capita.         155 non-null float64
Family                           155 non-null float64
Health..Life.Expectancy.         155 non-null float64
Freedom                          155 non-null float64
Generosity                       155 non-null float64
Trust..Government.Corruption.    155 non-null float64
Dystopia.Residual                155 non-null float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [128]:
n2017data=h2017data.iloc[:,[1,0,2,5,6,7,8,9,10]]
n2017data=n2017data.rename_axis("happiness_index_2017")
happiness_tables.append(n2017data)

n2017data

,Happiness.Rank,Country,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
happiness_index_2017,,,,,,,,,
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,3,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,4,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,5,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,151,Rwanda,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,152,Syria,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,153,Tanzania,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,154,Burundi,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,155,Central African Republic,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [129]:
h2018data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
Overall rank                    156 non-null int64
Country or region               156 non-null object
Score                           156 non-null float64
GDP per capita                  156 non-null float64
Social support                  156 non-null float64
Healthy life expectancy         156 non-null float64
Freedom to make life choices    156 non-null float64
Generosity                      156 non-null float64
Perceptions of corruption       155 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [130]:
h2018data.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [131]:
n2018data = h2018data.rename(columns={"Overall rank":"Happiness Rank", "Country or region":"Country",
                                      "Score":"Happiness Score","GDP per capita":"Economy (GDP per Capita)",
                                      "Social support":"Family","Healthy life expectancy":"Health (Life Expectancy)",
                                      "Freedom to make life choices":"Freedom", 
                                      "Perceptions of corruption":"Trust (Government Corruption)",
                                      "Dystopia.Residual":"Dystopia Residual"})
n2018data

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [132]:
column_titles = ["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)",
                  "Family", "Health (Life Expectancy)", "Freedom", "Generosity", "Trust (Government Corruption)"]
n2018data = n2018data.reindex(columns=column_titles)
n2018data=h2018data.rename_axis("happiness_index_2018")

happiness_tables.append(n2018data)

n2018data

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
happiness_index_2018,,,,,,,,,
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [133]:
h2019data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
Overall rank                    156 non-null int64
Country or region               156 non-null object
Score                           156 non-null float64
GDP per capita                  156 non-null float64
Social support                  156 non-null float64
Healthy life expectancy         156 non-null float64
Freedom to make life choices    156 non-null float64
Generosity                      156 non-null float64
Perceptions of corruption       156 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [134]:
n2019data = h2019data.rename(columns={"Overall rank":"Happiness Rank", "Country or region":"Country",
                                      "Score":"Happiness Score","GDP per capita":"Economy (GDP per Capita)",
                                      "Social support":"Family","Healthy life expectancy":"Health (Life Expectancy)",
                                      "Freedom to make life choices":"Freedom", 
                                      "Perceptions of corruption":"Trust (Government Corruption)",
                                      "Dystopia.Residual":"Dystopia Residual"})
n2019data

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [135]:
column_titles = ["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)",
                  "Family", "Health (Life Expectancy)", "Freedom", "Generosity", "Trust (Government Corruption)"]
n2019data=n2019data.reindex(columns=column_titles)
n2019data=h2019data.rename_axis("happiness_index_2019")

happiness_tables.append(n2019data)

n2019data

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
happiness_index_2019,,,,,,,,,
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

## Load Data Into Database

In [34]:
### Save variables to hold username and password for database

un = getpass.getpass(prompt='PostGre Username: ', stream=None)
pw = getpass.getpass(prompt='PostGre Password: ', stream=None)

PostGre Username: ········
PostGre Password: ········

In [156]:
### Create connection to PostGreSQL database that will hold tables

db_name = 'etl_project'

engine = create_engine(f'postgresql://{un}:{pw}@localhost:5432/{db_name}')

In [164]:
### Use SQL Alchemy to add tables with data to database

    # Create Base to utilize declarative base in SQL Alchemy
Base = declarative_base()

    # Create session that binds to our database
session = Session(bind=engine)

for table in web_index_tables:
        # For each DataFrame, remove all space characters from index name
        # in preparation to use for table names in database
    table_name = table.index.name.lower().replace(' ','_')
    
    
        # Create a classto use for each of our tables
    class Year(Base):
        __tablename__ = table_name
        country = Column(String, primary_key=True)
        year_2007 = Column(Float)
        year_2008 = Column(Float)
        year_2009 = Column(Float)
        year_2010 = Column(Float)
        year_2011 = Column(Float)
        year_2012 = Column(Float)
        year_2013 = Column(Float)
    
        # Create table if it does not exist in database
    Base.metadata.create_all(engine)
    
        # Remove table from database, if needed
#    Base.metadata.drop_all(engine)
    
    for row in table.iterrows():
            # Add each row of DataFrame to corresponding row in database
        session.add(Year(country=row[0],
                         year_2007=row[1][2007],
                         year_2008=row[1][2008],
                         year_2009=row[1][2009],
                         year_2010=row[1][2010],
                         year_2011=row[1][2011],
                         year_2012=row[1][2012],
                         year_2013=row[1][2013]
                        ))
        session.commit()

for table in happiness_tables:
    
    table_name = table.index.name
    
    class Year(Base):
        __tablename__ = table_name
        happiness_rank = Column(Integer)
        country = Column(String, primary_key=True)
        happiness_score = Column(Float)
        economy_gdp = Column(Float)
        family = Column(Float)
        life_exp = Column(Float)
        freedom = Column(Float)
        generosity = Column(Float)
        govt_trust = Column(Float)
        
    Base.metadata.create_all(engine)
    
             # Remove table from database, if needed
#    Base.metadata.drop_all(engine)

    for row in table.iterrows():
        
        session.add(Year(happiness_rank = row[1][0],
                         country = row[1][1],
                         happiness_score = row[1][2],
                         economy_gdp = row[1][3],
                         family = row[1][4],
                         life_exp = row[1][5],
                         freedom = row[1][6],
                         generosity = row[1][7],
                         govt_trust = row[1][8]
                        ))
        session.commit()